/*!!!!!
generic class!!!!!!!!!!!!!
*/
@font-face {
    font-family: "AGFORE";
    src: url("../fonts/AGFOREIGNERBLACKC.OTF");
url("../fonts/AGFOREIGNERBLACKC.OTF");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SansPro";
    src: url("../fonts/SOURCESANSPRO-REGULAR.TTF");
url("../fonts/SOURCESANSPRO-REGULAR.TTF");
    font-style: normal;
    font-weight: normal;
}

.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/";
}

.breadcrumb {
    background-color: white;
}

.breadcrumb a {
    color: #6f6f6e;
}

.breadcrumb li.active {
    color: #439ede;
}

.btnHeader, .btn-footer {
    position: relative;
}

.btnHeader:after, .btn-footer:after {
    position: absolute;
    bottom: -6px;
    right: 0;
    content: " ";
    width: 0px;
    height: 2px;
    background: #ff5321;
    display: block;
    transition: width 0.55s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.btnHeader:hover:after, .btn-footer:hover:after {
    width: 100%;
}

.btn-blue {
    padding: 15px 25px;
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    background: #1a4071;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: normal;
}

.navbar-main {
    background-image: url(/img/fon-somneniya.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.ui-widget {
    font-family: 'Source Sans Pro', sans-serif;
}

button:focus {
    outline: none;
}

.curpointer {
    cursor: pointer;
}

.f12 {
    font-size: 12px;
}

.text-yellow {
    color: #E0E14F;
}

.f46 {
    font-size: 46px;
}

.f16 {
    font-size: 16px;
    line-height: 24px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;
}

.f18 {
    font-size: 18px;
    line-height: 24px;
}

.btn-orange {
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    background: #ff5321;
    position: relative;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 6px #A1261F;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 0;
    padding: 7px 20px;
}

.btn-orange:hover {
    top: 2px;
    box-shadow: 0 3px #A1261F;
    color: white;
}

/*new style */
#service .block_service {
    /*width: 220px;*/
}

#service .header_service {
    background-color: #1a4071;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    min-height: 45px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 180px;
    margin: 0 auto;
    padding: 15px;
    line-height: 30px;
    transition: background-color 2s;
}

#service .header_service:hover {
    background-color: #037d90;
}

#service .img_service {
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 30px;
    margin: 10px 0 20px 0;
}

#service .img_service img {
    width: 80px;
    height: 80px;
}

#service .cost_service {
    background-color: #ff5321;
    color: #FFF;
    text-align: center;
    display: block;
    font-size: 18px;
    height: 60px;
    letter-spacing: 1px;
    line-height: 60px;
    position: relative;
    text-transform: lowercase;
    margin: 0 auto;
    width: 200px;
    z-index: 3;
}

.cost_service:before {
    border-bottom: 10px solid #A1261F;
    border-left: 10px solid transparent;
    left: 0;
}

.cost_service:after {
    border-bottom: 10px solid #A1261F;
    border-right: 10px solid transparent;
    right: 0;
}

.cost_service:before, .cost_service:after {
    content: "";
    height: 0;
    position: absolute;
    top: -10px;
    width: 0;
}

#service .block_info {
    width: 220px;
    margin: 15px auto;
    /*background: #F5F5F5;*/
}

#service .info_service {

    margin: 0 20px;
    border-bottom: 1px solid #18508b;
    /*background-color: blanchedalmond;*/
    padding: 10px 0;
    color: #18508b;
    font-size: 14px;
}

#service .button_service {
    margin: 0 auto;
    width: 190px;
}

#service .button_service a {
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    background: #ff5321;
    position: relative;
    color: #fff;
    box-shadow: 0 6px #A1261F;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 0;
    padding: 15px 40px;
}

#service .button_service a:hover {
    top: 2px;
    box-shadow: 0 3px #A1261F;
}

.titlePreim {
    background-color: #18508b;
    padding: 10px;
    text-align: center;
    color: white;
}

.col-md-offset-2 {
    margin-left: 0;
}

#img_preim {
    position: absolute;
    display: none;
    vertical-align: bottom;
    bottom: 0;
    right: 0;
}

#img_preim img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {

    #img_preim {
        display: inline-block;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    #img_preim img {
        vertical-align: bottom;
        width: 100%;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 8%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #00a0e3;
    color: #fff;
}

.owl-carousel img {
    width: 100% !important;
    display: inline !important;
}

.name_portfolio {
    background-color: #0c5460;
}

.leftMenuLg{
    list-style: none;
    color: #1a4071;
    font-weight: 600;
    font-size: 18px;
}
.leftMenuLg li{
    margin: 15px 0;
}
.leftMenuLg li.active >a{
    color: #ff5321;
    border-left: 3px solid #1a4071;
    margin-left: -10px;
    padding-left: 10px;
}
.leftMenuLg li a{
    color: #1a4071;
}

.icon_menu{
 font-size: 22px;
    color: white
}

/*oskar*/

.grid {
    overflow: hidden;
    margin: 0;
    padding: 3em 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 300px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;

    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: initial;
    line-height: 16px;
}

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #ff5321 0%, #1a4071 40%, #ff5321 100%);
    background: linear-gradient(45deg, #ff5321 0%, #1a4071 40%, #ff5321 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}


figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

/* end oskar*/
.selectType {
    border: 2px solid #18508b;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.selectType.active {
    font-weight: bold;
}

/* end new style */

.offReg {
    font-size: 20px;
    line-height: 24px;
    color: #E0E14F;
}

.waitOffReg {
    font-size: 16px !important;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 20px;
    font-weight: normal !important;
    text-transform: none !important;
    margin-left: 0px;
    color: white;
}

.btn-footer {
    font-size: 16px;
    color: #fff;
    padding: 0;
}

.btn-footer:hover {
    color: #fff;
}

@media (min-width: 1200px) {
    .waitOffReg {

        margin-left: -120px;
    }

}

.text-white {
    color: white;
}

.text-blue {
    color: #00A3DA;
}

#tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #63737A;
    font-weight: 600;
    font-size: 16px;
}

#tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #20D29D;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #20D29D;
    padding: .5em 0px;
    margin: 0 1em;

}

#tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: white;
    border: none;
    color: #20D29D;
}

#tabs .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
}

.ui-widget.ui-widget-content {
    border: none !important;
}

#tabs .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: none;
    background: white;
    font-weight: normal;
    color: #20D29D;
}

.ui-tabs .ui-tabs-panel {
    padding: 20px 20px;
}

.form-control {
    background-color: white;
    color: #495057;
    border: 1px solid #ff5321;
    border-radius: 3px;
}

.modalStyle .formReg .form-control {
    background-color: white;
    color: #009DE0;
    border: 1px solid #20D29D;
    border-radius: 3px;
}

.modalStyle .formReg .form-control.has-error {
    border: 1px solid #F00;
}

.modalStyle .formReg ::-webkit-input-placeholder {
    color: #63737A;
}

.modalStyle .formReg ::-moz-placeholder {
    color: #63737A;
}

.modalStyle .formReg:-moz-placeholder {
    color: #63737A;
}

.modalStyle .formReg :-ms-input-placeholder {
    color: #63737A;
}

.modalStyle .btn-reg {
    padding: 15px 25px;
    color: #00A3DA;
    line-height: 20px;
    font-size: 18px;
    background: #A2E859;
    border-radius: 3px;
}

.modalStyle .modal-header {
    padding: 5px 16px;
    border: none;
}

.modalStyle .close {
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    right: 20px;
}

.modalStyle .modal-header {
    padding: 5px 16px;
    border: none;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none !important;
}

.popover {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.popover-body {
    padding: 15px;
}

.popover .arrow {
    display: none;
}

/*
                                            FOR mobile
*/

.title_blue {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    line-height: 25px;
    font-size: 24px;
    color: #1a4071;
    font-family: AGFORE;
    text-decoration: #1a4071;
}

.title_white {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    line-height: 25px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: AGFORE;
}

.title_blue::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 90px;
    background-color: #1a4071;
    transition: width .5s ease-in-out;
    bottom: -25px;
}

.title_blue.programma::after {

    bottom: -10px;
    left: 0;
}

@media (min-width: 992px) {
    .title_blue.programma::after {

        bottom: -25px;
        right: 0;
        width: 90px;
    }
}

.title_white::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 90px;
    background-color: #FFFFFF;
    transition: width .5s ease-in-out;
    top: 50px;
}

.addPaddForBanner {
    padding-top: 580px;
}

.regBanner {
    position: absolute;
    bottom: -180px;
    left: 0px;
}

.logo_img img {
    width: auto !important;
    display: inline !important;
}

@media (min-width: 768px) {
    .regBanner {

        bottom: -70px;

    }

}

.tabProg {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    border-radius: 3px;
}

.logoDigital img {
    display: none;
}

.fotoConf {
    padding-top: 80px;
    width: 80%;
}

.fonConf {
    background-position: 138% 69%;
    background-size: 57%;
}

#tabs .tabContentTitle {

    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.f14 {
    font-size: 12px;
    line-height: 16px !important;
}

#tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    font-size: 18px;
}

/*#tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{*/
/*font-size: 14px;*/
/*}*/

.img-circle {
    border-radius: 50%;
}

.fonCondition {
    background-image: url(/img/fonWhile.png);
    background-size: cover;

}

/*ddsfsdf*/

.fonTop {
    background-image: url(/img/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 600px;
}

.fonTop:before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    position: absolute;
    opacity: .3;
}

.navbarTop {
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbarTop .logo img {
    height: 60px;
}

.navbarTop a.btnHeader {
    font-size: 12px;
    color: white;

}

.navbarTop a.btnHeader:hover {
    color: white;
    text-decoration: none;
}

.textBigBanner {
    position: absolute;
    top: 120px;
    line-height: 35px;
    font-size: 26px;
    width: auto;
    left: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: AGFORE;

}

.logoDigital {
    bottom: 10px;
    position: absolute;
    left: 420px;

}

.logoDigital img {
    width: 100%;
}

.dataBanner {
    color: white;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 30px;
    position: absolute;
    line-height: 41px;
    left: 0;
    bottom: -50px;
}

.btn-reg {
    padding: 15px 25px;
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    background: #ff5321;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: none;
}

.btn-reg:hover {
    background: #A1261F;
}

.helpBanner {
    color: white;
    font-weight: 500;
    font-size: 16px;

}

.lineBanner {
    width: 1px;
    height: 80px;
    border: 2px solid #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}

.positionHelp {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.colorStatictic {
    padding: 45px 0px;
    background: #5dbecb;
    background: -moz-linear-gradient(left, #5dbecb 0%, #36b8cc 100%);
    background: -webkit-linear-gradient(left, #5dbecb 0%, #36b8cc 100%);
    background: linear-gradient(to right, #5dbecb 0%, #36b8cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5dbecb', endColorstr='#36b8cc', GradientType=1);
}

.border_Conf {
    border: 1px solid #83D7DB;
    padding: 30px 0px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 0px;
    width: 100%;
    border-radius: 3px;
}

.fatLetter {
    font-size: 50px;
    line-height: 67px;
    color: #FFFFFF;
    font-family: AGFORE;
}

.navbarTop .dropdown-toggle::after {
    border: none;
}

.fon-for-order {
    background-image: url("/img/fon-somneniya.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.img_skidka {
    position: absolute;
    right: -211px;
    top: -63px;
    display: none;
}

.text-somneniya {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.fonContact {
    background-image: url("/img/fon-somneniya.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.advantages {
    height: 100%;
    background-image: url("/img/glav.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.advantages ul {
    padding: 0
}

.advantages ul li {
    list-style: none;
    position: relative;
    padding-left: 50px
}

.advantages ul li:before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: #18508b;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    left: 19px;
    top: 15px
}

.advantages .advantages-table {
    font-size: 0;
    margin-bottom: 0px;
    position: relative
}

.advantages .advantages-table *:focus {
    outline: none
}

.advantages .advantages-table .item {
    width: 100%;
    display: inline-block;
    vertical-align: top
}

.advantages .advantages-table .item .caption {
    position: relative;
    height: 250px;
    width: 100%;
    border: 1px solid #dadada;
    border-left: none;
    padding: 130px 20px 0;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 40px;
    background-color: #fff;
    line-height: 24px;
    cursor: pointer;
    color: #333333;
}

.advantages .advantages-table .item .caption .caption_text {
    font-size: 16px;
    line-height: normal
}

.advantages .advantages-table .item .caption:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #ff5321;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    z-index: -1;
    transition: all 0s ease 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.advantages .advantages-table .item-1 .caption.ui-accordion-header-active {
    border-color: #ff5321;
    background-color: #ff5321;
    color: #fff;
    background-image: url('/img/preim/one_preim_white.svg')
}

.advantages .advantages-table .item-2 .caption.ui-accordion-header-active {
    border-color: #ff5321;
    background-color: #ff5321;
    color: #fff;
    background-image: url('/img/preim/two_preim_white.svg')
}

.advantages .advantages-table .item-3 .caption.ui-accordion-header-active {
    border-color: #ff5321;
    background-color: #ff5321;
    color: #fff;
    background-image: url('/img/preim/three_preim_white.svg')
}

.advantages .advantages-table .item-4 .caption.ui-accordion-header-active {
    border-color: #ff5321;
    background-color: #ff5321;
    color: #fff;
    background-image: url('/img/preim/four_preim_white.svg')
}

.advantages .advantages-table .item .caption.ui-accordion-header-active:after {
    bottom: -20px
}

.advantages .advantages-table .item:first-child .caption {
    border-left: none
}

.advantages .advantages-table .item .text {
    font-size: 22px;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
}

.advantages .advantages-table .item .text-left {
    text-align: left
}

.advantages .advantages-table .item:hover .caption {
    border-color: #ff5321;
    background-color: #ff5321;
    color: #fff;
}

.advantages .advantages-table .item:hover .caption:after {
    bottom: -20px
}

.advantages .advantages-table .item:hover .text {
    display: block
}

.advantages_corp .advantages-table {
    margin-bottom: 820px
}

.advantages_corp .advantages-table_short {
    margin-bottom: 515px
}

.advantages_corp .advantages-table .item {
    width: 20%
}

.advantages_corp .advantages-table .item .caption .caption_text {
    font-size: 18px;
    line-height: normal
}

.advantages_corp .advantages-table .item .text {
    top: 280px
}

.advantages_corp .advantages-table .item p {
    margin: 0 0 1em
}

.advantages .advantages-table .item-1 .caption {
    background-image: url('/img/preim/three_preim.svg')
}

.advantages .advantages-table .item-2 .caption {
    background-image: url('/img/preim/three_preim.svg')
}

.advantages .advantages-table .item-3 .caption {
    background-image: url('/img/preim/three_preim.svg')
}

.advantages .advantages-table .item-4 .caption {
    background-image: url('/img/preim/three_preim.svg')
}

.border_title:after {
    top: 115px;
}

@media (min-width: 534px) {

    .fonTop {
        background-position: 65%;
        height: 800px;
    }

    #tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
        font-size: 16px;
    }

    .marginLeftToReg {
        margin-left: -140px;
        font-size: 18px !important;
    }

    .textBigBanner {
        line-height: 30px;
        font-size: 30px;
        width: 100%;
    }

    .regBanner {
        bottom: -160px;
        left: 20px;
    }

    .navbarTop a.btnHeader {
        font-size: 14px;
    }

    .addPaddForBanner {

        padding-top: 700px;
    }

    .fatLetter {
        font-size: 62px;
    }

    #tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        font-size: 18px;
    }

    .border_title:after {
        top: 77px;
    }

}

@media (min-width: 768px) {
    .navbarTop a.btnHeader {
        font-size: 16px;
        margin: 0px 5px;
    }
    .icon_menu{
        font-size: 32px;
    }

    #tabs .tabContentTitle {
        color: #63737A;
        text-align: center;
        font-weight: 600;
        font-size: 18px;

    }

    .marginLeftToReg {
        margin-left: -130px;
    }

    #tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
        font-size: 18px;
    }

    .textBigBanner {
        top: 130px;
        line-height: 38px;
        font-size: 36px;
        width: 500px;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 20px 40px;
    }

    .border_Conf {
        margin-left: 0px;
        margin-right: 30px;
    }

    .regBanner {
        left: 60px;
    }

    .helpBanner {
        font-size: 18px;
        font-weight: 400;
    }

    .fonTop {
        background-position: 35%;
        height: 800px;
    }

    .advantages .advantages-table .item {
        width: 25%;
    }

    .advantages .advantages-table .item .text {
        position: absolute;
        left: 0;
        top: 300px
    }

    /* Common style */
    .grid figure {
        width: 33.333%;
    }

    .advantages .advantages-table {
        margin-bottom: 200px;
    }

    .btn-orange {
        font-size: 14px;
        padding: 10px 30px;
    }

}

@media (min-width: 992px) {
    .border_Conf {
        padding: 20px 0px;
        margin-left: 0px;
        margin-right: 20px;
    }
    .btn-orange {
        font-size: 16px;
        padding: 15px 40px;
    }
    .icon_menu{
        font-size: 40px;
    }


    .advantages .advantages-table .item .caption {
        height: 220px;
    }

    .marginLeftToReg {
        margin-left: -90px;
    }

    .tabProg {
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
    }

    .fonTop {

        background-position: 33%;

    }

    .f14 {
        font-size: 14px;
        line-height: 20px !important;
    }

    .advantages .advantages-table {
        margin-bottom: 220px;
    }

    .border_title:after {
        top: 50px;
    }
}

@media (min-width: 1200px) {
    .marginLeftToReg {
        margin-left: -120px;
    }

    .tabProg {
        background-color: white;
        padding: 10px 15px 10px 15px;
        /*margin-left: 100px;*/
        /*margin-right: 100px;*/
    }

    .border_Conf {
        padding: 30px 0px;
        margin: 0px 20px;
        width: 152px;
    }

    .textBigBanner {

        top: 101px;
        line-height: 51px;
        font-size: 48px;
        width: 57%;

    }

    .regBanner {

        left: 120px;
    }

    .fonTop {
        position: relative;
        height: 700px;
        background-size: cover;
        background-position: 0 0;
    }

    .navbarTop a.btnHeader {
        margin: 0px 10px;
        font-size: 19px;

    }

    .marginLeft {
        margin-left: 100px;
    }

    .img_skidka {
        display: block;
    }

}
