.dop_menu ul {
    display: none;
    margin-left: 30px;
    list-style-type: disc;
}

.dop_menu ul li a:hover {
    color: #ff5321;
}

.dop_menu ul li.active > a {
    color: #ff5321;
    border: none;
}

.text-orange{
    color: #ff5321;
}

.title {
    font-size: 24px;
    font-family: AGFORE;
    font-weight: 700;
    color: #1a4071;
    text-transform: uppercase;
    text-align: center;
}

.tbl-responsive {
    width: 100%;
    border: 2px solid #1a4071;
    overflow-y: hidden;
    overflow-x: scroll;
}

.tbl-responsive td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #2f4871;
    padding: 5px 10px;
}

.tbl-responsive th {
    border-bottom: 2px solid #2f4871 !important;
    color: #ff5321;
}

.business_card i {
    font-size: 20px;
    color: #2f4871;
}

.desc {
    margin: 20px 0;
    padding: 15px;
    background-color: #ff5321;
    color: white;
    position: relative;
    border-radius: 3px;
}

.desc:before, .desc:after {
    bottom: 15px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 20px;
    left: 10px;
    position: absolute;
    width: 50%;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: -1;
}

.desc:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.block_tarif {
    border-radius: 3px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16), 0 6px 20px rgba(0, 0, 0, 0.23);
}

.header__block_tarif {
    background-color: #2f4871;
    padding: 15px;
    color: #fff;
}

.title__block_tarif {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: AGFORE;
}

.cost__block_tariff {
    text-align: center;
    font-size: 22px;
}
.content__block_tariff{
    padding: 20px 20px;
    font-size: 14px;
}

.content__block_tariff .items {
    margin: 0 10px;
}

.items li {
    color: #ff5321;
    font-size: 26px;
    line-height: 18px;
    margin-bottom: 10px;
}

.items li span {
    color: #2f4871;
    font-size: 16px;
}

/*REWORK*/
.block_rework{
    width: 100%;
    background-color: #2f4871;
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 6px 10px rgba(0, 0, 0, 0.23);
    position: relative;
    height: 180px;
}
.img__block_rework{
    position: absolute;
    color: #ff5321;
    background: white;
    padding: 21px 24px;
    /* margin: 20px; */
    border-radius: 50%;
    left: -30px;
    top: -15px;
}

.title__block_rework{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.title__block_rework:hover{
    color: #ff5321;
}

/* END REWORK*/

/*devepoper-web*/
.title_task__dev_web{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
/* END devepoper-web*/

@media (min-width: 992px) {
    .tbl-responsive td {
        padding: 10px 15px;
    }

}

@media (min-width: 1200px) {
    .title__block_rework{
        font-size: 24px;
    }
}